:root {
  --blue: #272643;
  --blue2: #ffffff;
  --blue3: #e3f6f5;
  --blueSky: #809191;
  --green: #2c698d;
  --red: #7f7e9594;
}
@font-face {
  font-family: blocks;
  src: url(helveticanowtext-black-demo.ttf);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--white);
  min-height: 100vh;
 
  font-family: blocks;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  opacity: 0.7;
  box-shadow: inset 0 0 200px rgba(0, 128, 0, 0.5);
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55rem;
  height: 50rem;
  padding: 10px;
}
.resultadoHorizontal{
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 1.5rem;
  filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.5));
  color: var(--blue);
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.resultadoContainer {
  display: flex;
  justify-content: center;
  width: 8.5rem;
  height: 11rem;
  background-color: var(--red);
  border-radius: 100%;
  border: 5px dotted;
 
  padding: 10px;
  margin-top: 3rem;
}
.resultadoContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue2);
}
#boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  margin-top: 6.5rem;
  font-family: blocks;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    var(--green),
    var(--blueSky),
    var(--blueSky),
    var(--green)
  );
  filter: drop-shadow(5px 7px 7px rgba(0, 0, 0, 0.5));
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}
#boton:hover {
  background: linear-gradient(
    to right,
    var(--green),
    var(--blueSky),
    var(--blueSky),
    var(--green)
  );
  filter: drop-shadow(7px 4px 5px rgba(0, 0, 0, 0.5));
}

#boton:active {
  transform: translateY(4px);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Resposnive movil pequeño */
@media (max-width: 489px) {
  
  #title {
    font-size: 1rem;
    padding: 5px;
    filter: none;
  }
  #logo img{
    width: 200px;
    height: 200px;
  }
  .resultadoContainer{
    width: 8.5rem;
    height: 8.5rem;
  }
}

/* Resposnive movil grande */
@media (min-width: 490px) and (max-width: 767px){
  #logo img{
    width: 220px;
    height: 220px;
  }
}

/* Resposnive tablet */
@media (min-width: 768px) and (max-width: 996px){
  #logo img{
    width: 250px;
    height: 250px;
  }
  .resultadoContainer{
    width: 8.5rem;
    height: 8.5rem;
  }
}

/* Resposnive  horizontal */
